<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Execute, Script" />
        <httpErrors errorMode="Detailed" />
        <staticContent>
            
        </staticContent>
    </system.webServer>
</configuration>
